.header {
	&__navigation, .logo, .nav, .social, .nav__menu {
		@extend %flex-element-center-vertical;
	}

	&__navigation {
		padding: 11px 0;
		@media (max-width: 1024px) {
			padding: 8px 14px 15px;
		}
		@media (max-width: 720px) {
			padding: 8px 4px 15px;
		}

		.logo {
			padding-right: 22px;
			height: 42px;
			border-right: 1px solid $line_gray;
			@media (max-width: 1024px) {
				border: none;
				height: auto;
				flex: 1 1 0;
			}

			&__title {
				h1 {
					font-size: 29px;
					font-weight: 500;

					span {
						font-weight: 600;
					}

					@media (max-width: 1024px) {
						font-weight: 300;
						span {
							font-weight: 400;
						}
					}
				}
			}
		}

		.nav {
			flex: 1 1 0;
			padding: 0 24px;
			@media (max-width: 1024px) {
				display: none;
			}

			&__menu {
				gap: 16px 41px;
				@media (max-width: 1065px) {
					gap: 16px 25px;
				}

				&__item {
					&:last-of-type {
						padding-left: 4px;
					}

					&-link {
						font-size: 16px;
						line-height: 2;
						display: inline-block;

						&:after {
							content: "";
							display: block;
							width: 0;
							height: 2px;
							background-color: $blue;
							transition: width .3s ease-in 0s;
						}

						&:hover:after {
							width: 100%;
						}
					}
				}
			}
		}

		.social {
			gap: 0 13px;
			@media (max-width: 1024px) {
				display: none;
			}

			a {
				display: inline-block;

				img {
					width: 26px;
					height: 26px;
				}
			}
		}
	}

	&__registration-btn {
		font-size: 16px;
		color: $blue;
		border: 2px solid $blue;
		min-width: 161px;
		max-width: 250px;
		padding: 8px;

		&:hover {
			color: $white;
			background-color: $blue;
		}
	}
}