@font-face {
	font-family: 'Helvetica Neue';
	font-style: normal;
	font-weight: 300;
	src: url('/src/assets/fonts/HelveticaNeueLight.woff2') format('woff2');
}

@font-face {
	font-family: 'Helvetica Neue';
	font-style: normal;
	font-weight: 400;
	src: url('/src/assets/fonts/HelveticaNeueRegular.woff2') format('woff2');
}

@font-face {
	font-family: 'Helvetica Neue';
	font-style: normal;
	font-weight: 500;
	src: url('/src/assets/fonts/HelveticaNeueMedium.woff2') format('woff2');
}

@font-face {
	font-family: 'Helvetica Neue';
	font-style: normal;
	font-weight: 600;
	src: url('/src/assets/fonts/HelveticaNeueBold.woff2') format('woff2');
}
