* {
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
	box-sizing: border-box;
}

html, body {
	height: 100%;
}

h1, h2, h3, h4, h5, h6, p, ul {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Helvetica Neue', sans-serif;
	font-style: normal;
	font-weight: 400;
	color: $dark_blue;
}

a, button {
	transition: all .3s;
}

a {
	text-decoration: none;
	color: $dark_blue;
}

ul {
	list-style-type: none;
}

img {
	width: 100%;
	display: block;
	height: 100%;
	object-fit: contain;
}

.container {
	padding: 0 16px;
	max-width: 1171px;
	width: 100%;
	margin: 0 auto;
	@media (max-width: 1024px) and (min-width: 720px) {
		padding: 0 27.5px;
	}
}

.main-content {
	background-color: $dark_blue;
}

.section-title {
	font-size: 60px;
	font-weight: 300;
	line-height: 84px;
	@media (max-width: 1024px) {
		max-width: 626px;
		font-size: 50px;
		line-height: 70px
	}
	@media (max-width: 720px) {
		font-size: 40px;
		line-height: 56px;
		max-width: 280px;
	}
}

button {
	background: none;
	cursor: pointer;
}

.button {
	font-family: "Helvetica Neue", sans-serif;
	font-size: 14px;
	font-weight: 700;
	color: #FFFFFF;
	background-color: #007DFE;
	text-transform: uppercase;
	border: 1px solid #007DFE;

	&:hover {
		background-color: $white;
		color: $blue;
	}
}

input, textarea {
	color: $dark_blue;
	background: $white;
	font-weight: 400;
	font-size: 18px;
	line-height: 25.2px;

	&::placeholder {
		color: $light_black;
	}
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
	border: none;
	-webkit-text-fill-color: $black;
	background-color: $white !important;
	-webkit-box-shadow: 0 0 0 0 inset;
	transition: background-color 5000s ease-in-out 0s;
}

%flex-element-center-vertical {
	display: flex;
	align-items: center;
}